.container {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #333;
  font-weight: 520;
}

.input-with-icon {
  position: relative;
}

.input-with-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.input-with-icon input {
  width: calc(100% - 40px);
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

#icon-der {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

#icon-izq {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.password-container input {
  width: calc(100% - 40px);
  padding: 8px 30px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.password-container .toggle-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 16px;
  width: 30px;
}

.password-container .toggle-password:hover {
  color: #000;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #3f3f3f;
}

a {
  color: rgb(0, 26, 255);
  font-weight: 500;
  cursor: pointer;
}
